<ActionBar title="Config">
  <!-- <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" tap="onNavBtnTap"></NavigationButton> -->
  <ActionItem [nsRouterLink]="['/config']"
  text="Custom ActionItem" position="right"> <ActionItem.actionView>
        <Label text="helo" style="color: white;" ></Label>
    </ActionItem.actionView></ActionItem>
</ActionBar>
<ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
<FlexboxLayout>
 
    <StackLayout class="form">
      <Label text="Service Name"></Label>
      <TextField hint="Service name" autocorrect="false" autocapitalizationType="none" class="input input-border"
        [(ngModel)]="config.name"></TextField>
      <Label text="Service URL"></Label>
      <TextField hint="Service URL" autocorrect="false" autocapitalizationType="none" class="input input-border"
        [(ngModel)]="config.service_url"></TextField>
      <Label text="API client ID"></Label>
      <TextField hint="API Client ID" autocorrect="false" autocapitalizationType="none" class="input input-border"
        [(ngModel)]="config.client_id"></TextField>
      <Label text="API client secret"></Label>
      <TextField hint="API Client secret" autocorrect="false" autocapitalizationType="none" class="input input-border"
        [(ngModel)]="config.client_secret"></TextField>
      <Button text="Scan" class="btn btn-primary" (tap)="scanBarcode()"></Button>
      <Button text="Check" class="btn btn-warning" (tap)="checkConfig()"></Button>
      <Button text="Home" class="btn btn-success" [nsRouterLink]="['/login']" pageTransition="slide" clearHistory="true"></Button>
    </StackLayout>
  

</FlexboxLayout>
</ScrollView>