/* Add mobile styles for the component here.  */
FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
   
  }
  StackLayout.container {
    width: 80%;
    padding: 10 16;
    
  }

  Label{
    font-size: 20;
    font-weight: bold;
  }

  StackLayout.form {
    width: 90%;
    padding: 10 16;
    background-color: #f0f0f0;
  }

  Image {
    margin-bottom: 20;
    height: 70;
  }
  Button, TextField {
    margin-bottom: 10;
  }
  .btn-primary {
   
    margin-left: 0;
    margin-right: 0;
  }

 