<Page xmlns="http://www.nativescript.org/tns.xsd" (navigatingTo)="onNavigatingTo($event)">
    <ActionBar *ngIf="currentAssessment" [title]="currentAssessment.name">
        <ActionItem>
            <StackLayout orientation="horizontal">
                <Label *ngIf="selectedStudent"
                    text="Examining: {{selectedStudent.fname}} {{selectedStudent.lname}}"></Label>
                <Button class="fa" (tap)="getStudentList()" style=" 
                padding-right: 10px; 
                margin-top: 10px;
                
                " text="Select student &#xf2be;
                "></Button>
            </StackLayout>
        </ActionItem>
    </ActionBar>
    <ScrollView (loaded)="viewLoaded($event)">

        <GridLayout class="page" [class.disabled]="!examEnabled" >

            <GridLayout class="content p-20">
                <StackLayout *ngIf="currentAssessment">
                    <StackLayout *ngFor="let instance_item of currentAssessment.exam_instance_items; let i= index">
                        <ns-examitem [id]="'item_'+instance_item.id" [comment]="instance_item.comment" [(item)]="instance_item" [enabled]="examEnabled"
                            (changeEvent)="validateExam($event)" (commentEvent)="showCommentEntry($event)"></ns-examitem>
                    </StackLayout>
                    <Button text="Submit" class="btn btn-submit" style="height: 80px" (tap)="submit()"  [isEnabled]="examValid"></Button>
                </StackLayout>

            </GridLayout>
<!-- Overlay to disable the exam -->
            <AbsoluteLayout class="disabled-exam"></AbsoluteLayout>

        </GridLayout>
    </ScrollView>
</Page>
