/* Add mobile styles for the component here.  */
/* FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
   
  } */

  Label{
    font-size: 20;
    font-weight: bold;
  }

   Image {
    margin-bottom: 20;
    height: 70;
  }
  Button, TextField {
    margin-bottom: 10;
  }

  .btn-primary {
   
    margin-left: 0;
    margin-right: 0;
  }

  /* Dialog styles */
  @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.dialogOpen .content {
    opacity: 0.2;
}

.dialogOpen .dialog-wrapper {
    visibility: visible;
    animation-name: show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.dialog-wrapper {
    visibility: collapse;
    opacity: 0;
}

.dialog {
    border-width: 1 0 1 0;
    border-color: black;
    background-color: white;
    width: 100%;
    margin-top: 50;
    padding: 20;
}

 /* overlay over  a disabled exam*/
.disabled .disabled-exam {
  visibility: visible;
  animation-name: show;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.disabled .content {
  opacity: 0.2;
  background-color: black;
}
/* .dialog-wrapper {
  visibility: collapse;
  opacity: 0;
} */

 