<StackLayout orientation="vertical" width="100%" *ngIf="assessmentitem.visible">
    <Label *ngIf="!assessmentitem.heading" text="{{assessmentitem.label}} {{assessmentitem.id}}" backgroundColor="#e0e0e0" width="100%"
        textWrap="true" height="50"></Label>
    <StackLayout orientation="horizontal" width="100%">
        <Label *ngIf="assessmentitem.heading" text="{{assessmentitem.label}} {{assessmentitem.id}}" width="100%" height="50"
            backgroundColor="#7ab800"></Label>
        
        <StackLayout *ngIf="!assessmentitem.heading" width="50%" orientation="vertical">
            <!-- <StackLayout *ngFor="let item of assessmentitem.items"> -->
            <!-- make radio buttons here -->

            <StackLayout *ngFor="let option of radioOptions">
                <StackLayout orientation="horizontal" verticalAlignment="center">
                    <CheckBox #elem [checked]="option.selected" [isUserInteractionEnabled]="enabled"
                        (checkedChange)="elem.checked !== option.selected && changeCheckedRadio(option)"
                        class="checkbox" boxType="circle"></CheckBox>
                    <StackLayout verticalAlignment="center">
                        <Label [text]="option.text" textWrap="true" (tap)="changeCheckedRadio(option)"></Label>
                    </StackLayout>
                </StackLayout>
                <!-- </StackLayout> -->
            </StackLayout>
        </StackLayout>
        <!-- Make this dependent on some things -->
        <StackLayout *ngIf="!hidecomments" width="50%" shadow elevation="6" [bgcolor]="bgcolor" [shadowColor]="shadowcolor" orientation="vertical" paddingTop="10" paddingBottom="10">
            <TextView hint="Enter some text" text="{{assessmentitem.comment}}" height="100px" editable="false" (tap)="notifyCommentClick()"
               ></TextView>
        </StackLayout>
    </StackLayout>
</StackLayout>