<StackLayout margin="24" horizontalAlignment="center" (showingModally)="onload($event)" verticalAlignment="center">
        <Label text="Enter comment"></Label>
        <StackLayout orientation="horizontal" marginTop="12">
                <TextView id="comment_entry" hint="Enter some text"  height="200px" width="80%" editable="true"
                        [(ngModel)]="comment"></TextView>
        </StackLayout>
        <Button text="Done" (tap)="close(comment)"></Button>
</StackLayout>