<Page xmlns="http://www.nativescript.org/tns.xsd" shownModally="onShownModally" style="background-color:rgba(0,0,0,0.2)">

    <StackLayout class="dialog"  width="70%">
        <SearchBar hint="Search" (textChange)="onStudentSearchTextChanged($event)"
            (submit)="onStudentSearchTextChanged($event)" textFieldHintColor="gray"></SearchBar>
        <ScrollView>
            <StackLayout *ngIf="studentlist" orientation="vertical">
                <StackLayout *ngFor="let student of displayedStudentList._array">
                    <ns-selectstudententry [student]='student' (studentSelectEvent)="selectStudent($event)">
                    </ns-selectstudententry>
                </StackLayout>
            </StackLayout>
        </ScrollView>

        <Button class="fa btn-outline" style=" 
padding-right: 10px; 
margin-top: 10px;
" text="Close &#xf00d;
" (tap)="close()"></Button>
    </StackLayout>
</Page>