<ActionBar title="Login to {{config.name}}">

  <ActionItem [nsRouterLink]="['/config']" pageTransition="slide" clearHistory="true">

    <Button class="fa" style="font-size: 30; 
      padding-right: 10px; 
      margin-top: 10px;
      width: 50px;height:50px; 
      border-radius: 25px;
      " text="&#xf013;
      "></Button>
  </ActionItem>

</ActionBar>

<GridLayout>
  <GridLayout #background scaleX="1.4" scaleY="1.4" class="background"></GridLayout>

  <StackLayout #mainContainer class="main-container">
    <StackLayout class="form">
      <GridLayout #formControls class="form-controls" rows="auto, auto" translateY="50">
        <Label style="font-size: 20" text="Username"></Label>
        <TextField hint="Username" [isEnabled]="!isBusy" autocorrect="false" autocapitalizationType="none"
          class="input input-border" [(ngModel)]="username" row="0"></TextField>
        <Label style="font-size: 20" text="Password"></Label>
        <TextField hint="Password" [isEnabled]="!isBusy" secure="true" class="input input-border"
          [(ngModel)]="password" row="1">
        </TextField>

        <Button text="Sign in" class="btn btn-primary" (tap)="login()" [isEnabled]="!isBusy" row="2"></Button>
        <Button text="Test" (tap)="showCommentEntry()" row="3"></Button>
      </GridLayout>
    </StackLayout>

  </StackLayout>
</GridLayout>