/* Add mobile styles for the component here.  */
/* FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
   
  }
  StackLayout {
    width: 60%;
    padding: 10 16;
    background-color: #f0f0f0;
  } */

.main-container {
  /* visibility: collapse;
  opacity: 0; */
  margin-left: 30;
  margin-right: 30;
  /* background-color: white; */
}

  .background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  Image {
    margin-bottom: 20;
    height: 70;
  }
  Button, TextField {
    margin-bottom: 10;
  }
  .btn-primary {
    background-color: #CB1D00;
    margin-left: 0;
    margin-right: 0;
  }

  TextField {
    placeholder-color: #C4AFB4;
    color: black;
  }