<ActionBar title="Exams for  {{userservice.user.name}}"></ActionBar>
<ScrollView >
        <StackLayout orientation="vertical">
                <StackLayout *ngFor="let assessment of assessmentlist" width="90%" >
                        <Button [text]="assessment.name" [nsRouterLink]="['../examdetail/'+assessment.id]" class="btn btn-primary" style="height: 100px"></Button>
                </StackLayout>
        </StackLayout>
</ScrollView>
